
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası Kendi Oluşturdugumuz View Sayfasıdır</h3>

<table>
    <tr>
        <th>ID</th> @*//tablonun başlık kısmı*@
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td> @*//Td- Table Data - verisi*@
        <td>Olya</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td> @*//Td- Table Data - verisi*@
        <td>Ayşe</td>
        <td>Ayşe Analist</td>
    </tr>
</table>